@import './bootstrap.min.css';

.row {
  justify-content: center;
}

.card {
  box-shadow: 0px 1px 1px 1px lightgrey;
}

.card:hover {
  box-shadow: 1px 1px 25px 0px rgba(44, 50, 50, 0.77);
  transition: .3s;
}

.col-sm-4 {
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-family: Segoe UI;
  padding: 10px 0;
}
