@import './bootstrap.min.css';

.container {
  margin-top: 2%;
}

.row {
  justify-content: center;
}

.card {
  box-shadow: 0px 1px 1px 1px lightgrey;
}

.card:hover {
  box-shadow: 1px 1px 25px 0px rgba(44, 50, 50, 0.77);
  transition: .3s;
}

.col-sm-4 {
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-family: Segoe UI;
  padding: 10px 0;
}

button.navbar {
  border-width: 2px;
  border-radius: 6px;
}

.reverse {
  position: absolute;
  bottom: 9%;
  right: 8%;
}