@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background:#252525;
}

/*honey combination*/

#honey-comb {
  width: 100%;
  height: 100vh;
	background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40,40,40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-color:rgb(30, 30, 30);
  background-size: 16px;
}

.bg-gray {
  height: 55px;
  background-color: #252525;
  border-top: 1px solid #474a51;
  border-bottom: 1px solid #474a51;
}

.h1-movie-search,
.rss-text, 
.gh-name {
  margin: auto;
  color: #787d87;
  font-family: 'Inconsolata', monospace;
}

.h1-movie-search {
  text-align: center;
}

/*search bar*/

.container,
.search, 
.search-bar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search, 
.search-bar {
  position: absolute;
}

.container {
  margin: 30px auto 20px;
  width: 300px;
  height: 100px;
}

.search {
  margin: 95px auto 20px;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search:hover,
.search-bar:hover {
  cursor: pointer;
}

.search::before,
.search::after {
  content: "";
  position: absolute;
  transition: all .5s;
}

.search::before {
  margin: 35% 0;
  top: 29%;
  right: 28%;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
}

.search::after {
  top: 33%;
  left: 33%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.search-bar {
  font-family: 'Inconsolata', monospace;
  margin: 110px auto 20px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.search-bar:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.search-bar:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.search-bar:focus ~ .search::before,
.search-bar:focus ~ .search::after {
  margin: 35%;
  top: 12%;
  left: 1%;
  width: 25px;
}

.search-bar:focus ~ .search::after {
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.search-bar::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* swiper */

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 30px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev {
  color: crimson;
}

.swiper-pagination-bullet-active {
  background: crimson;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.github {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.rss-text,
.gh-name {
  font-size: 18px;
}

.gh-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
